body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.header {
    position: fixed;
    top: 10px;
    width: 90%;
    background-color: #ffffff;
    text-align: center;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.header img {
    max-width: 250px;
}

.header h1 {
    margin: 0;
    font-size: 24px;
    color: #333333;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 10px; /* Altura del encabezado */
    text-align: center;
}

.status-container {
    margin-bottom: 20px;
}

.status {
    font-size: 30px;
    margin: 20px 0;
    color: #333333;
}

.status.active {
    color: green;
}

.status.inactive {
    color: red;
}

.charts {
    display: flex;
    justify-content: space-around;
    width: 100%;
    max-width: 2000px;
}

canvas {
    max-width: 600px;
    margin: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.chart-title {
    margin-top: 10px;
    font-weight: bold;
    color: #555555;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    background-color: #ffffff;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

.footer p {
    margin: 0;
    font-size: 14px;
    color: #999999;
}